@import 'variables';

.event {
  position: absolute;
  z-index: 5;
  left: 4px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
  padding: 4px 8px;
  overflow: hidden;
  font-size: 12px;
  color: $color-white;
  cursor: pointer;
  background-color: $color-primary;
  border-radius: 4px;
  transition: box-shadow 0.2s;

  &:hover {
    z-index: 10;
    filter: brightness(0.95);
    box-shadow: $shadow-small;
  }

  &__title {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__time {
    margin-top: 2px;
    font-size: 11px;
  }
}